<section id="section-{{forloop.index}}" class="filterable-gallery">
  <div class="max-width mx-auto">

    <div class="">
      <div class="filter-button active">All</div>
      
      {% for button in block.filter-buttons %}

      <div class="filter-button">{{button.filter}}</div>

      {% endfor %}

    </div>

    <div class="">
      
      {% for menu-item in block.menu %}
      
      <div class="All  {{menu-item.filter }} menu-items grid-items">
        <div>
          <p>{{menu-item.dish-name}}

            {% for icon in block.filter-buttons %}
            {% assign spaceremovefilter = icon.filter | replace: ' ','-' %}
            {% if menu-item.filter contains spaceremovefilter%}
            {{icon.icon}}
            {% endif %}

            {% endfor %}

          </p>
        </div>
        <div>
          <p>{{menu-item.price}}</p>
        </div>

      </div>
      <div>
        <p>{{menu-item.dish-description}}</p>
      </div>

      {% endfor %}


    </div>

    
  </div>
</section>


<style>

.filter-button.active {
  color: red;
}

.menu-items svg {
  display: inline;
  width: 1rem;
}

</style>