<section id="section-{{forloop.index}}">
  <div class="max-width mx-auto">
    <form>
      {% for input in block.inputs %}
        {% case input.type %}

          {% when 'text' %}
          
            <input type="text" name="{{input.name}}" id="{{input.name}}" placeholder="{{input.placeholder-text}}" {% if input.required %} required {% endif %}>

          {% when 'email' %}
            <input type="email" name="{{input.name}}" id="{{input.name}}" {% if input.required %} required {% endif %}>

          {% when 'phone' %}
            <input type="tel" name="{{input.name}}" id="{{input.name}}" {% if input.required %} required {% endif %}>

          {% when 'textarea' %}
            <textarea name="{{input.name}}" id="{{input.name}}" {% if input.required %} required {% endif %}></textarea>

        {% endcase %}
      {% endfor %}
    </form>
  </div>
</section>