<section id="section-{{forloop.index}}" class="px-0">

<div class="tickerBanner" data-banner-speed="{{block.banner-styles.banner-speed}}">
  {% for message in block.banner-message %}
    <a href="{{message.url}}" class="text-block">{{message.text}}</a>
    {% endfor %}
</div>

</section>

<style>


.tickerBanner{
  --bannerBlockLength: 280px;
  --bannerBlockTime: 2s;
overflow-X: hidden;
display: flex;
{% if block.banner-styles.text-read == "LTR" %}
flex-direction: row;
{% else %}
flex-direction: row-reverse;
{% endif %}
text-align: center;
}


.tickerBanner > * {
  display: inline-block;
  padding: 1vw;
  flex-shrink: 0;
  position: relative;
}

/* .tickerBanner.active:hover > *{
  animation-play-state: paused;
} */
.tickerBanner.active > * {
  animation: ticker 2s infinite linear;
  animation-duration: var(--bannerBlockTime), 2s;
} 

{% if block.banner-styles.text-read == "LTR" %}
@keyframes ticker {
    from {right:0}
    to   {right:var(--bannerBlockLength)}
}

{% else %}
@keyframes ticker {
    from {left:0}
    to   {left:var(--bannerBlockLength)}
}
{% endif %}

</style>


<script>
  const tickerBanners = document.querySelectorAll('.tickerBanner');

tickerBanners.forEach(banner => {



  let textBlock = banner.querySelectorAll('.text-block');

  console.log(textBlock[0].offsetWidth)

  let bannerBlock = 0;
  textBlock.forEach( block => {
    bannerBlock += block.offsetWidth
  });

  let bannerLength = bannerBlock
  console.log(bannerBlock)
  console.log(banner.dataset.bannerSpeed)
  
  
  banner.style.setProperty('--bannerBlockLength', `${bannerBlock}px`);
  banner.style.setProperty('--bannerBlockTime', `${(bannerBlock / banner.dataset.bannerSpeed )}s`);

  
  function extendBanner() {
  if (bannerLength < (screen.width + bannerBlock) ) {
    textBlock.forEach(block => {
    console.log(block.innerHTML)
    // add the newly created element and its content into the DOM
    banner.appendChild(block.cloneNode(true));
    // banner.querySelector('a:last-child').innerHTML = block.innerHTML
    // banner.querySelector('a:last-child').href = block.href
      
    });
    bannerLength += bannerBlock;
    console.log(bannerLength) 
    extendBanner()
  } else {
    banner.classList.add('active')
  }
}



  extendBanner()

  console.log(bannerLength)

})

</script>