<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <title>{{page.title}}</title>
</head>

<body>
    {% for block in page.blocks %}
    <!-- {{block.id}} -->
    <div class="scheme-{{block.scheme}}">
        {% include /blocks/{{block.id}}.html %}
    </div>
    {% endfor %}

    {{content}}

    
    {% for block in page.blocks %}
    {% if block.id == "filterable_grid" %}
    {% assign has-filterable-gallery = true %}
    {% endif %}
    {% endfor %}
    <script>
    
        {% if has-filterable-gallery %}
    // Filterable Gallery Script Below
      const gallery = document.querySelectorAll('.filterable-gallery')
    
    gallery.forEach(section => {
      
    
      const filterButtons = section.querySelectorAll('.filter-button')
    
      const gridItems = section.querySelectorAll('.grid-items')
    
      console.log(filterButtons,gridItems)
    
      function filterGallery() {
    
      filterButtons.forEach(button => {
        button.classList.remove('active')
      });
    
      this.classList.add('active')
    
      let target = this.innerHTML
    
        gridItems.forEach(image => {
          if (image.classList.contains(target)){
            image.classList.remove('hidden')
          }
          else { 
            image.classList.add('hidden')
          }
        } )
      }
    
      filterButtons.forEach(button => {
        button.addEventListener('click', filterGallery)
      });
    
    });
    
    {% endif %}
    </script>

</body>

</html>